* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1A1A1A;
}

a, button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  width: calc( 100% - 60px);
  margin: 40px auto 0;
  padding-left: 10px;
  padding-right: 10px;
}

.subcontainer {
  width: calc( 100% - 284px);
  margin: auto;
}

.owl-item {
  margin-left: 1px;
}

.owl-prev {
  display: none;
}

.owl-next {
  position: absolute;
  bottom: 70px;
  right: 1px;
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.support-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 54px;
  min-height: 306px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #93BBEA;
  color: #FFFFFF;
}

.support-banner__title {
  margin: 0;
  font-family: 'Museo Sans Cyrl 900', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
}

.support-banner__info {
  max-width: 535px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
}

.support-banner__wrapper {
  display: flex;
  justify-content: space-between;
  width: 664px;
}

.support-banner__button {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 160px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #1A1A1A;
}

.support-banner__button_img {
  margin-right: 4px;
  max-width: 14px;
  max-height: 13px;
}

.support-banner__design {
  position: absolute;
}

.support-banner_mailleft {
  left: -1px;
  bottom: 74px;
}

.support-banner_mailmiddle {
  left: 45px;
  bottom: 95px;
}

.support-banner_mailright {
  top: 37px;
  left: 230px;
}

.support-banner_phone {
  right: 52px;
  bottom: 8px;
  z-index: 2;
}

.support-banner_finger {
  right: 98px;
  bottom: 98px;
  z-index: 1;
}

.support-banner_palm {
  right: 70px;
  bottom: 15px;
  z-index: 3;
}

.support-banner_hand {
  right: -6px;
  bottom: 0;
}

.support-social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 40px;
  min-height: 166px;
  box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
  margin-top: 82px;
  background-color: #FFFFFF;
}

.support-social__net {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
}

.support-social__join {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.support-social__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 406px;
  cursor: pointer;
}

.support-social__icon__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.question {
  text-align: center;
}

.question__title {
  margin-top: 80px;
  margin-bottom: 32px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.question-slider {
  max-height: 200px;
}

.question-slider__card {
  display: flex;
  width: 96%;
  height: 160px;
  padding-left: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  overflow: hidden;
}

.question-slider__card__img {
  width: 104px !important;
}

.question-slider__card__text {
  margin-right: 12px;
  text-align: left;
}

.question-slider__card__title {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.question-slider__card__info {
  margin-top: 8px;
  margin-bottom: 0;
  color: #949494;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.question-slider-navigation {
  position: relative;
}
/*# sourceMappingURL=style.css.map */