* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1A1A1A;
}

a, button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: calc( 100% - 60px);
  margin: 40px auto 0;
  padding-left: 10px;
  padding-right: 10px;
}

.subcontainer {
  width: calc( 100% - 284px);
  margin: 0 auto 80px;
}

.owl-item {
  margin-left: 1px;
}

.owl-item:active, .owl-item:hover, .owl-item:focus {
  box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.04);
  transform: scale(1.03);
  transition: all 0.3s ease-out;
}

.owl-prev {
  display: none;
}

.owl-next {
  position: absolute;
  bottom: 70px;
  right: 1px;
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}

.owl-stage-outer {
  height: 200px;
}

.connect-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 10px;
  cursor: pointer;
}

.connect-icon:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-out;
  background-color: #ebe4e4;
}

.button {
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
}

.button:active, .button:hover, .button:focus {
  box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.04);
  transform: scale(1.03);
  transition: all 0.3s ease-out;
}

.titles {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

@media screen and (max-width: 768px) {
  .subcontainer {
    width: 95%;
    margin: 15px auto 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
    margin: 15px auto 0;
  }
  .titles {
    font-size: 25px;
    line-height: 120%;
  }
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.support-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 54px;
  min-height: 306px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #93BBEA;
  color: #FFFFFF;
}

.support-banner__title {
  margin: 0;
  font-family: 'Museo Sans Cyrl 900', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
}

.support-banner__info {
  max-width: 535px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
}

.support-banner__wrapper {
  display: flex;
  justify-content: space-between;
  width: 664px;
}

.support-banner__button {
  background-color: #FFFFFF;
  width: 160px;
  color: #1A1A1A;
}

.support-banner__button__img {
  margin-right: 4px;
  max-width: 14px;
  max-height: 13px;
}

.support-banner__design {
  position: absolute;
}

.support-banner__mailleft {
  left: -1px;
  bottom: 74px;
}

.support-banner__mailmiddle {
  left: 45px;
  bottom: 95px;
}

.support-banner__mailright {
  top: 37px;
  left: 230px;
}

.support-banner__phone {
  right: 52px;
  bottom: 8px;
  z-index: 2;
}

.support-banner__finger {
  right: 98px;
  bottom: 98px;
  z-index: 1;
}

.support-banner__palm {
  right: 70px;
  bottom: 15px;
  z-index: 3;
}

.support-banner__hand {
  right: -6px;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  .support-banner__design {
    z-index: 5;
  }
  .support-banner__title, .support-banner__info, .support-banner__button {
    position: relative;
    z-index: 20;
  }
  .support-banner__phone {
    right: 52px;
    bottom: 8px;
    z-index: 7;
  }
  .support-banner__finger {
    right: 98px;
    bottom: 98px;
    z-index: 6;
  }
  .support-banner__palm {
    right: 70px;
    bottom: 15px;
    z-index: 8;
  }
}

@media screen and (max-width: 768px) {
  .support-banner__title {
    font-size: 40px;
  }
  .support-banner__info {
    font-size: 14px;
    line-height: 120%;
  }
  .support-banner__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
  }
  .support-banner__button {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .support-banner {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .support-banner__title {
    text-align: center;
    font-size: 30px;
  }
  .support-banner__info {
    font-size: 12px;
  }
  .support-banner__phone, .support-banner__finger, .support-banner__palm, .support-banner__hand {
    display: none;
  }
}

.support-social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 40px;
  min-height: 166px;
  box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
  margin-top: 82px;
  background-color: #FFFFFF;
}

.support-social__net {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
}

.support-social__join {
  margin-top: 16px;
  margin-bottom: 0;
}

.support-social__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 406px;
  cursor: pointer;
}

.support-social__icon__item {
  width: 56px;
  height: 56px;
}

@media screen and (max-width: 1200px) {
  .support-social__wrapper {
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
  }
  .support-social__join {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .support-social__net {
    font-size: 11px;
  }
  .support-social__icon {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .support-social__icon__item {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.question {
  text-align: center;
}

.question__title {
  margin-top: 80px;
  margin-bottom: 10px;
}

.question-slider {
  max-height: 200px;
}

.question-slider__card {
  display: flex;
  width: 96%;
  height: 160px;
  padding-left: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.question-slider__card__img {
  width: 104px !important;
}

.question-slider__card__text {
  margin-right: 12px;
  text-align: left;
}

.question-slider__card__title {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.question-slider__card__info {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #949494;
}

.question-slider-navigation {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .question-slider__card__title {
    font-size: 14px;
  }
  .question-slider__card__info {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .question__title {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.reference {
  text-align: center;
}

.reference__title {
  margin-top: 60px;
  margin-bottom: 32px;
}

.reference__board {
  position: relative;
  margin-bottom: 12px;
  min-height: 64px;
  padding: 20px 24px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.reference__board__title {
  margin: 0;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.reference__board__info {
  max-width: 50%;
  margin: 0;
  margin-top: 4px;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #949494;
}

.reference__board::after {
  position: absolute;
  content: url(../images/reference-arrow.svg);
  right: 24px;
  top: 40%;
}

.reference__board:hover {
  box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.04);
  transform: scale(1.01);
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .reference__title {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .reference__board__title {
    font-size: 16px;
  }
  .reference__board__info {
    max-width: 80%;
    font-size: 11px;
  }
}

.delivery {
  margin-top: -18px;
  margin-bottom: 80px;
}

.delivery__title {
  margin: 0;
  font-family: 'Museo Sans Cyrl 900', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.delivery__open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 16px;
}

.delivery__open img {
  cursor: pointer;
}

.delivery__text {
  margin-bottom: 40px;
  width: 57%;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.delivery__info {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
}

.delivery__contacts {
  display: flex;
  justify-content: space-between;
  width: 336px;
  margin-top: 16px;
}

.delivery__button {
  width: 224px;
  background-color: #36BA5F;
  border-radius: 12px;
  color: #FFFFFF;
}

.delivery__button__img {
  margin-right: 4px;
  margin-bottom: -4px;
}

.delivery__icon__item {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1200px) {
  .delivery__text {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .delivery__text {
    width: 95%;
  }
  .delivery__open {
    width: 100%;
  }
  .delivery__contacts {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {
  .delivery {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .delivery__title {
    font-size: 18px;
  }
  .delivery__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .delivery__contacts {
    flex-direction: column;
    width: 100%;
  }
  .delivery__button {
    width: 100%;
    margin-bottom: 15px;
  }
  .delivery__icon__item {
    width: 100%;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */