.delivery
  margin-top: -18px
  margin-bottom: 80px

  &__title
    margin: 0
    font-family: 'Museo Sans Cyrl 900', sans-serif
    font-weight: 700
    font-size: 24px
    line-height: 120%

  &__open
    display: flex
    align-items: center
    justify-content: space-between
    width: 320px
    margin-bottom: 16px

  &__open img
    cursor: pointer

  &__text
    margin-bottom: 40px
    width: 57%
    font-family: 'Museo Sans Cyrl 500', sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 140%

  &__info
    font-family: 'Museo Sans Cyrl 700', sans-serif
    font-weight: 600
    font-size: 13px
    line-height: 120%

  &__contacts
    display: flex
    justify-content: space-between
    width: 336px
    margin-top: 16px

  &__button
    width: 224px
    background-color: #36BA5F
    border-radius: 12px
    color: #FFFFFF

    &__img
      margin-right: 4px
      margin-bottom: -4px

  &__icon

    &__item
      width: 48px
      height: 48px

@media screen and ( max-width: 1200px )
  .delivery

    &__text
      width: 80%

@media screen and ( max-width: 992px )
  .delivery

    &__text
      width: 95%

    &__open
      width: 100%

    &__contacts
      width: 100%
      justify-content: space-around

@media screen and ( max-width: 576px )
  .delivery
    margin-top: 0
    margin-bottom: 20px

    &__title
      font-size: 18px

    &__text
      font-size: 12px
      margin-bottom: 20px

    &__contacts
      flex-direction: column
      width: 100%

    &__button
      width: 100%
      margin-bottom: 15px

    &__icon

      &__item
        width: 100%
        margin-bottom: 15px
