*
  box-sizing: border-box

body
  background-color: #ffffff
  color: #1A1A1A

a, button
  cursor: pointer
  outline: none
  border: none

.container
  width: calc( 100% - 80px)
  margin: 40px auto 0

.subcontainer
  width: calc( 100% - 284px)
  margin: auto
