.support-banner
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding-top: 40px
  padding-bottom: 54px
  min-height: 306px
  border-radius: 40px
  overflow: hidden
  background-color: #93BBEA
  color: #FFFFFF

  &__title
    margin: 0
    font-family: 'Museo Sans Cyrl 900', sans-serif
    font-weight: 700
    font-size: 60px
    line-height: 120%

  &__info
    max-width: 535px
    text-align: center
    margin: 0
    margin-bottom: 40px
    font-family: 'Museo Sans Cyrl 500', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 17px
    line-height: 140%

  &__wrapper
    display: flex
    justify-content: space-between
    width: 664px

  &__button
    background-color: #FFFFFF
    width: 160px
    color: #1A1A1A

    &__img
      margin-right: 4px
      max-width: 14px
      max-height: 13px

  &__design
    position: absolute

  &__mailleft
    left: -1px
    bottom: 74px

  &__mailmiddle
    left: 45px
    bottom: 95px

  &__mailright
    top: 37px
    left: 230px

  &__phone
    right: 52px
    bottom: 8px
    z-index: 2

  &__finger
    right: 98px
    bottom: 98px
    z-index: 1

  &__palm
    right: 70px
    bottom: 15px
    z-index: 3

  &__hand
    right: -6px
    bottom: 0
